.dark-mode {
  background-color: #121212;
  color: #f1f1f1;
  min-height: 100vh;
}

.dark-mode .card {
  background-color: #1e1e1e;
  color: #f1f1f1;
}

.dish-card img {
  height: 150px;
  object-fit: cover;
}

/* Card món ăn đồng đều */
.dish-card {
  min-height: 100%; /* chiếm toàn bộ chiều cao của cột */
  display: flex;
  flex-direction: column;
}

/* Ảnh món ăn có chiều cao cố định */
.dish-img {
  height: 160px;
  object-fit: cover; /* đảm bảo ảnh không bị méo */
}
